/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 1); /* Fully opaque initially */
    color: white;
    padding: 20px 0;
    z-index: 1000;
    transition: background-color 0.3s, opacity 0.3s; /* Smooth transition */
}

header.transparent {
    background-color: rgba(51, 51, 51, 0.5); /* Semi-transparent */
}
           
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.image-container {
    position: relative;
    width: 100%;
    height: 1000px; /* Adjust this height as needed */
    overflow: hidden;
}
        
.image-container img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Smooth transition */
}

main {
    margin-top: 60px; /* Adjust this to the header's height */
    padding: 20px;
}

section {
    padding: 50px 0;
    border-bottom: 1px solid #ddd;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.responsive-image {
    width: 100%; /* Image fills the width of its container */
    height: auto; /* Set a specific height or use 'auto' */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

html {
    scroll-behavior: smooth;
}